 <div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center>Data 1202: Data Analytics Tools</h1>
    <h1 align=center>Lab 2</h1>
</div>

<h1>Introduction</h1>
<h3>Welcome!</h3>

<p>
In this Lab, you will learn how to use Python (pandas) for preprocessing your data when Imported from a SQL databease. By the end of this lab, you will be familiar with the connection methods and how you can run SQL Queries using Python.
</p>

<h2>Table of Contents</h2>

<div class="alert alert-block alert-info" style="margin-top: 20px">
In this Lab you will learn:
<ol>
    <li><a href="#p1">How to Build a connection to a SQL database</a></li>
    <li><a href="#p2">Run Simple Queries and read them into a DataFrame</a></li>
    <li><a href="#p3">Run Complex Queries and read them into a DataFrame</a></li>
    <li><a href="#p4">WHERE in Python</a></li>
    <li><a href="#p5">Practice Questions</a></li>
</ol>

Estimated Time Needed: <strong>60 min</strong>
</div>

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center><a name=p1>Part 1 : Set Up the Enviroment </a></h1>
</div>

In [2]:
# 1. The first step is to be sure you have installed the required python packages.
# We use the pakage manager pip to install all requred packages
install mysql-connector-python

SyntaxError: invalid syntax (Temp/ipykernel_19316/1083431879.py, line 3)

In [3]:
# 2. Import Python Libraries

import pandas as pd
from sqlalchemy import create_engine
import pymysql

In [18]:
df=pd.read_csv('youtube_dataset.csv')
df.head()

,web-scraper-order,web-scraper-start-url,userID,userID-href,name,uploads,subscribers,videoviews,country,channeltype,usercreated,grade,YouTube_Link,YouTube_Link-href,TwitterHandle,TwitterHandle-href,InstagramHandle,InstagramHandle-href,MonthlyEarnings,YearlyEarnings
0,1553043067-5148,https://socialblade.com/youtube/top/5000/mosts...,PewDiePie,https://socialblade.com/youtube/c/pewdiepie,PewDiePie,3779,90210848,20772365682,US,Entertainment,"Apr 29th, 2010",A,NaN,https://youtube.com/channel/UC-lHJZR3Gqxm24_Vd...,NaN,https://twitter.com/pewdiepie,NaN,https://instagram.com/pewdiepie,€66.9K - €1.1M,€802.3K - €12.8M
1,1553043063-5147,https://socialblade.com/youtube/top/5000/mosts...,T-Series,https://socialblade.com/youtube/c/tseriesmusic,T-Series,13218,90194329,65092058996,IN,Music,"Mar 13th, 2006",A++,NaN,https://youtube.com/channel/UCq-Fj5jknLsUf-MWS...,NaN,https://instagram.com/tseries.official,NaN,https://plus.google.com/115156822320080163368,€635.6K - €10.2M,€7.6M - €122M
2,1553043059-5146,https://socialblade.com/youtube/top/5000/mosts...,Gaming,https://socialblade.com/youtube/channel/UCOpNc...,Gaming,0,81888222,0,NaN,Games,"Dec 15th, 2013",D-,NaN,https://youtube.com/channel/UCOpNcN46UbXVtpKMr...,NaN,NaN,NaN,https://youtube.com/channel/UCOpNcN46UbXVtpKMr...,€0 - €0,€0 - €0
3,1553043055-5145,https://socialblade.com/youtube/top/5000/mosts...,YouTube Movies,https://socialblade.com/youtube/channel/UClgRk...,YouTube Movies,0,77413743,0,NaN,Film,"Jun 10th, 2015",D-,NaN,https://youtube.com/channel/UClgRkhTL3_hImCAmd...,NaN,NaN,NaN,https://youtube.com/channel/UClgRkhTL3_hImCAmd...,€0 - €0,€0 - €0
4,1553043051-5144,https://socialblade.com/youtube/top/5000/mosts...,Sports,https://socialblade.com/youtube/channel/UCEgdi...,Sports,0,75622870,0,NaN,Sports,"Dec 15th, 2013",D-,NaN,https://youtube.com/channel/UCEgdi0XIXXZ-qJOFP...,NaN,NaN,NaN,https://youtube.com/channel/UCEgdi0XIXXZ-qJOFP...,€0 - €0,€0 - €0

In [10]:
#3. Build the connection
#Note: You should have already created the credential in MYSQL server.

#conn=sql.connect(host='localhost',user='omar',password='foo',db='data_1202')
#conn
engine = create_engine('mysql+pymysql://root:@localhost:51211')
conn = engine.connect()

In [43]:

df.sort_values(by = 'subscribers', ascending = False, inplace = True)
df1=df[0:1000]
df1.to_csv('Assign.csv',mode='w')

In [34]:
print(len(df1))

1000

df1.size

In [24]:
df.size

78880

In [42]:
df2=pd.read_csv('Assign.csv')
df2.head()

,Unnamed: 0,web-scraper-order,web-scraper-start-url,userID,userID-href,name,uploads,subscribers,videoviews,country,...,usercreated,grade,YouTube_Link,YouTube_Link-href,TwitterHandle,TwitterHandle-href,InstagramHandle,InstagramHandle-href,MonthlyEarnings,YearlyEarnings
0,0,1553043067-5148,https://socialblade.com/youtube/top/5000/mosts...,PewDiePie,https://socialblade.com/youtube/c/pewdiepie,PewDiePie,3779,90210848,20772365682,US,...,"Apr 29th, 2010",A,NaN,https://youtube.com/channel/UC-lHJZR3Gqxm24_Vd...,NaN,https://twitter.com/pewdiepie,NaN,https://instagram.com/pewdiepie,€66.9K - €1.1M,€802.3K - €12.8M
1,1,1553043063-5147,https://socialblade.com/youtube/top/5000/mosts...,T-Series,https://socialblade.com/youtube/c/tseriesmusic,T-Series,13218,90194329,65092058996,IN,...,"Mar 13th, 2006",A++,NaN,https://youtube.com/channel/UCq-Fj5jknLsUf-MWS...,NaN,https://instagram.com/tseries.official,NaN,https://plus.google.com/115156822320080163368,€635.6K - €10.2M,€7.6M - €122M
2,2,1553043059-5146,https://socialblade.com/youtube/top/5000/mosts...,Gaming,https://socialblade.com/youtube/channel/UCOpNc...,Gaming,0,81888222,0,NaN,...,"Dec 15th, 2013",D-,NaN,https://youtube.com/channel/UCOpNcN46UbXVtpKMr...,NaN,NaN,NaN,https://youtube.com/channel/UCOpNcN46UbXVtpKMr...,€0 - €0,€0 - €0
3,3,1553043055-5145,https://socialblade.com/youtube/top/5000/mosts...,YouTube Movies,https://socialblade.com/youtube/channel/UClgRk...,YouTube Movies,0,77413743,0,NaN,...,"Jun 10th, 2015",D-,NaN,https://youtube.com/channel/UClgRkhTL3_hImCAmd...,NaN,NaN,NaN,https://youtube.com/channel/UClgRkhTL3_hImCAmd...,€0 - €0,€0 - €0
4,4,1553043051-5144,https://socialblade.com/youtube/top/5000/mosts...,Sports,https://socialblade.com/youtube/channel/UCEgdi...,Sports,0,75622870,0,NaN,...,"Dec 15th, 2013",D-,NaN,https://youtube.com/channel/UCEgdi0XIXXZ-qJOFP...,NaN,NaN,NaN,https://youtube.com/channel/UCEgdi0XIXXZ-qJOFP...,€0 - €0,€0 - €0

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1>Challenge</h1>
<b>Can you make a connection without explicitly providing the credential? 
    in other words can you hide the credentials</b>
</div>

In [44]:
def top1000 ():
    df.sort_values(by = 'subscribers', ascending = False, inplace = True)
    df1=df[0:1000]
    df1.to_csv('Assign.csv',mode='w')
    df2=pd.read_csv('Assign.csv')
    df2.head()
    
    return len(df2)


<details><summary> # Click here for a solution</summary>
```python
    #The correct answer is:
   df2=pd.read_csv('C:/Users/omar/Desktop/Duraham/Courses/data1202/mysql.txt', sep=',')
    
   mydb1=sql.connect(host='localhost',user=df2.iat[0,0],password=df2.iat[0,1], db='ap') 
    
```
</details>

In [45]:
top1000()

1000

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center><a name=p2>Part 2 : Run Simple Queries and read them into a DataFrame </a></h1>
</div>

In [ ]:
# read a simple query into DataFrame
df=pd.read_sql_query("SELECT * FROM data1202.vgsales", conn)

In [ ]:
# print DataFrame and shaw the first 10 raws
df.head()

In [ ]:
#Find how many records this data frame has
df.shape

In [ ]:
#How many elements are there?
df.size

In [ ]:
#What are the column names?
df.columns

In [ ]:
#What types of columns we have in this data frame?
df.dtypes

In [ ]:
df.info()

In [ ]:
dir(df)

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center><a name=p3>Part 3 : Run Complex Queries and read them into a DataFrame </a></h1>
</div>

In [ ]:
# read a complex query into DataFrame
complex_df = pd.read_sql_query('''SELECT
    Round(SUM(NA_Sales)) as 'NA_Sales',
    ROUND(SUM(EU_Sales)) as 'EU_Sales',
    ROUND(SUM(JP_Sales)) as 'JP_Sales',
    ROUND(SUM(Global_Sales)) AS 'Global_Sales',
    ROUND((SUM(NA_Sales)/SUM(Global_Sales)) * 100) as 'NA_GlobalShare'

FROM
    data1202.vgsales
WHERE
    Genre = 'Action'
        AND Year>= 2005''', conn)

In [ ]:
complex_df.head()

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center><a name=p4>Part 4 : WHERE in Python </a></h1>
</div>

In [ ]:
# WHERE in python
nintendo_games = df[df['Publisher'] == 'Nintendo

In [ ]:
nintendo_games.head()

In [ ]:
print("The number of Nintendo games is: " + str(len(nintendo_games)))

In [ ]:
# TWO condition WHERE claus
action_05 = df[(df['Genre']=='Action') & (df['Year'] >= 2005)]
action_05.head()

In [ ]:
print("The sum of action games in NA is: " + str(action_05.EU_Sales.max()))

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center><a name=p5>Part 5 : Practice Questions </a></h1>
</div>

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1>Question #1:</h1>
<b>Shaw all databases</b>
</div>

In [ ]:
# <your code goes here>

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1>Question #2:</h1>
<b>From Vg_sales, retrive all sales between 2000 and 2005 and assign them to All_sales dataframe</b>
</div>

In [ ]:
# <your code goes here>


<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1>Question #3:</h1>
<b>Identify the data type for all columns in All_sales dataframe you created in Question 2.</b>
</div>

In [ ]:
# <your code goes here>



<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1>Question #4:</h1>
<b>List the column names of the dataframe you created in Question 2</b>
</div>

In [ ]:
# <your code goes here>